@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-medium.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-regular.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-light.ttf') format('ttf');
  font-style: normal;
}
