<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="back()"
    [disabled]="isBackButtonEnabled ? null : ''"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button (click)="forward()" [disabled]="isForwardButtonEnabled ? null : ''">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="goHome()"
    [disabled]="isHomeButtonEnabled ? null : ''"
  >
    <mat-icon>home</mat-icon>
  </button>
  <form
    class="url"
    [formGroup]="urlForm"
    [class.disabled]="isNavigating ? '' : null"
  >
    <mat-form-field [floatLabel]="'never'">
      <input
        matInput
        type="text"
        formControlName="url"
        (focus)="onFocusIn()"
        (focusout)="onFocusOut()"
        autocomplete="off"
      />
    </mat-form-field>
  </form>
</mat-toolbar>
