$roboto-medium-src: url('/assets/ng-styles/fonts/roboto-medium.ttf') format('ttf');
$roboto-regular-src: url('/assets/ng-styles/fonts/roboto-regular.ttf') format('ttf');
$roboto-light-src: url('/assets/ng-styles/fonts/roboto-light.ttf') format('ttf');

$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

$fs-huge: 24px;
$fs-large: 20px;
$fs-bigger: 18px;
$fs-big: 16px;
$fs-normal: 14px;
$fs-small: 12px;
