@import '../variables/fonts';

@font-face {
  font-family: 'Roboto';
  src: $roboto-medium-src;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: $roboto-regular-src;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: $roboto-light-src;
  font-style: normal;
}
